$cyaan : #00aecb;
$lightBlue : #bbd2f7;
$brightBlue: #0061ff;
$darkBlue: #001f51;

*{ margin:0; padding:0; box-sizing:border-box;
  .container{display:table; width:100%;}
  .container:after{clear:both;}
  .wrapper{overflow-y:scroll; overflow-x: hidden; height:100vh;
    h1{text-align:center;}
    h2{color:#fff; padding:10px 0; font-family: 'Gloria Hallelujah', cursive; text-decoration:underline;}
    p{text-align:center;}
    .row:after{clear:both;}
    .outer_header{height:auto; overflow:hidden;
      .inner_header{background-color:$cyaan; height:100%; padding:25px;

      } //end inner_header
    } //end outer_header
    .outer_content{height:auto; overflow:hidden; margin-bottom:100px;
      .inner_content{padding:25px;
        .days{height:420px; border-radius:5px; text-align:center;
          // background: #001f51;
          // background: -moz-linear-gradient(left $darkBlue 1%, $lightBlue 100%);
          // background: -o-linear-gradient(left $darkBlue 1%, $lightBlue 100%);
          // background: -webkit-linear-gradient(left $darkBlue 1%, $lightBlue 100%); background: -ms-linear-gradient(left $darkBlue 1%, $lightBlue 100%);
          // background: linear-gradient(to right, $darkBlue 0%, $lightBlue 100%);
          ul{height:100%;
            li{height:14.28%; list-style:none; padding:5%; border-top-left-radius:5px; border-bottom-left-radius:5px; border:1px solid black;
              a{color:black; text-decoration:none;}
            }
            .ma{background-color:yellow;}
            .di{background-color:orange;}
            .wo{background-color:blue;}
            .do{background-color:red;}
            .vr{background-color:green;}
            .za, .zo{background-color:brown;}
            .active, .ma:hover, .di:hover, .wo:hover, .do:hover, .vr:hover, .za:hover, .zo:hover{width:110%; margin-left:-10%;}
          } //end ul
        } //end days
          // .days:hover{  background: #001f51;
          // background: -moz-linear-gradient(left $lightBlue 1%, $darkBlue 100%);
          // background: -o-linear-gradient(left $lightBlue 1%, $darkBlue 100%);
          // background: -webkit-linear-gradient(left $lightBlue 1%, $darkBlue 100%); background: -ms-linear-gradient(left $lightBlue 1%, $darkBlue 100%);
          // background: linear-gradient(to right, $lightBlue 1%, $darkBlue 100%);}
        .table_data{
          table{ border-collapse:collapse; border-spacing:0; width:100%;
            th{border:1px solid black; padding:5px; background-color:$cyaan; color:#fff;
            }
            td{border:1px solid black; padding:5px;
              .checkbox{width:24px; height:24px;}
            }// end td
            td.item, th.item{font-family: 'Gloria Hallelujah', cursive;}
          } //end table
        } //end table_data
        button{margin-top:5px; padding:5px; width:100%; background-color:$lightBlue;

        } //end button
      } //end inner_content
    } //end outer_content
    .outer_footer{height:100px; width:100%; position:fixed; bottom:0; overflow:hidden;
      .inner_footer{background-color:$cyaan;  height:100%;
        p{padding-top:25px; text-align:center;}
      } //end inner_footer
    } //end outer_footer
  } //end wrapper
} //end all

@media screen and (max-width: 480px) {
  * .wrapper .outer_content .inner_content{padding:10px;}
}
